header{
    nav.navbar{
        padding-left: 0;
        padding-right: 0;

        a.navbar-brand{
            padding: 0;
            font-family: $secondary_font;
            font-size: 28px;
        }

        .collapse{
            ul.navbar-nav{
                .nav-item{
                    .nav-link{
                        font-size: 13px;
                        letter-spacing: .5px;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}